div {
  width: 900px
}

.horiz-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-link {
    float: left;
    display: block;
    width: 150px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #0000D1;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.ogc-banner {
  width: 900px;
  text-align: center;
}

.art-table {
  width: 900px;
  border-style: none;
}


