{% extends "ogc-base.html" %}
{% block content %}
    <div>
      Independent video producer Noematic has edited the video, adding a sound track with witness statements. Here are key frames of the video with our own choice of witness statements. By all accounts the
      shooting happened about 12:15 AM, but the time stamp in the video
      shows 1:06 AM. We use it anyway, because it's there.<br><br>
      Quotes are from eyewitnesses Muhammad Delik (the clerk, translated
      by Adel Sumaha) and customers Pablo Rincon and Steve Clark. We
      interviewed them on 3/25/15.<br><br>
      The shooting happened outside the store, and the videos show very little,
      but we can see key moments. This timeline highlights the visible parts.
      In the context of movement one can see the figures much better than
      these frames show. Expanding the video helps. Except for 1:06:12, the
      images below show the upper left quarter of the video; links to the video
      and another from another camera are at the bottom of this page.
      <table id="pedie-video-thumb-table">
				<tr>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/Pedie-enter0.jpg" width="352" height="240" alt="Pedie enters store"></td>
							</tr>
							<tr>
							  <td>1:03:16: Pedie walks into the store in a playful mood, examines a few items, and leaves. The next three minutes or so show "normal traffic -- customer in, customer out" (MD).</td>
							</tr>
						</table></td>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/muhammad-walk.jpg" width="490" height="240" alt="Muhammad Delik hears struggle"></td>
							</tr>
							<tr>
							  <td>1:06:12: Muhammad Delik hears a commotion outside the store and walks to the doorway to observe.</td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/struggle-jensen0-ed.jpg" width="352" height="240" alt="Struggle is visible through window"></td>
							</tr>
							<tr>
							  <td>1:06:16: "The officer tackled Pedie and put him down, he tried to handcuff him while he was down.... The officer gave him a bearhug and Pedie was yelling from pain, screaming maybe 5 times." (MD)<br><br>
"Policeman was beatin' on him, on Pedie." (PR)</td>
							</tr>
						</table></td>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/struggle-jensen-ed.jpg" width="352" height="240" alt="Struggle 1s still visible through window"></td>
							</tr>
							<tr>
							  <td>1:06:25: "And he telling Pedie to 'stop resisting, stop resisting'" (SC)<br><br>
"He still wrestling with Pedie. Pedie got his hands behind him, and he's still face down. The officer can't get the handcuffs on him." (SC)</td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/steve-clark-enter.jpg" width="352" height="240" alt="Steve Clark enters store"></td>
							</tr>
							<tr>
							  <td>1:06:42: Steve Clark enters store. "I knew 'don't mess with 
                this, go on about my business.'
							  So I walked to the store.... While I was walking past,
							  Pedie was turning... turning, turning, cop was, was trying
							  to get his handcuffs on him." (SC)</td>
							</tr>
						</table></td>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/jensen-back-ed.jpg" width="352" height="240" alt="Jensen backs up"></td>
							</tr>
							<tr>
							  <td>1:06:45: "Pedie managed to push the officer up. And the
							  police backed up a few steps and shot him." (MD)</td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/jensen-shoots-ed.jpg" width="352" height="240" alt="Jensen shoots Pedie"></td>
							</tr>
							<tr>
							  <td>1:06:47: "I guess Pedie got himself up... then the police reached for his gun and... shot him, like a few times." (PR)<br><br>
"All of a sudden I see the officer back up, and I heard the gunshots. BOOM BOOM BOOM." (SC)</td>
							</tr>
						</table></td>
					<td>
					  <table>
							<tr>
							  <td><img src="static/pedie-video-witnesses_files/pedie-stagger.jpg" width="349" height="240" alt="Pedie staggers into store"></td>
							</tr>
							<tr>
							  <td>1:06:48: Pedie staggers into the store, collapses, and dies.</td>
							</tr>
						</table></td>
				</tr>
      </table>
      <hr><br>
Q: At any point did you see Pedie put his hands on Officer Jensen's gun?<br>
"No."<br>
Q: What about when they were wrestling on the ground?<br>
"No... No." (PR)<br>
<br>
Q: Did Pedie try to reach for the officer's gun in any way?<br>
"No."<br>
Q: Where were his hands?<br>
"They were down."<br>
Q: At any time, did Pedie attack the police officer?<br>
"Before he got shot, no, he tried to move, he tried to get away." (MD)<br>
      <hr><br><strong>Warning! These videos show the death of a young man.</strong><br>
			<table>
				<tr>
					<td>
					  <table>
							<tr>
							  <td>Edited video with sound track by Noematic<br> (click to play):</td>
							</tr>
							<tr>
							  <td><a href="https://www.youtube.com/watch?v=RRA9oQmVgb4"><img src="static/pedie-video-witnesses_files/Pedie-enter0.jpg" width="352" height="240" alt="Pedie enters store"></a></td>
							</tr>
            </table>
          </td>
					<td>
					  <table>
							<tr>
							  <td>Unedited camera 3 video here (click to play):</td>
							</tr>
							<tr>
							  <td><a href="https://www.youtube.com/watch?v=WkY_0LIiElg"><img src="static/pedie-video-witnesses_files/Pedie-enter0.jpg" width="352" height="240" alt="Death of Pedie (camera 4)"></a></td>
							</tr>
          </table></td>
				</tr>
				<tr>
					<td>
					  <table>
							<tr>
							  <td>Unedited camera 4 video here (click to play):</td>
							</tr>
							<tr>
							  <td><a href="https://www.youtube.com/watch?v=y2vZEcrbO2M"><img src="static/pedie-video-witnesses_files/death-of-pedie.jpg" width="352" height="240" alt="Pedie enters store"></a></td>
							</tr>
            </table>
          </td>
					<td>
					  <table>
							<tr>
							  <td></td>
							</tr>
							<tr>
							  <td></td>
							</tr>
          </table></td>
				</tr>
			</table><br><br>
      <a href="static/oscargrantcommittee.org_files/Flyer%20on%20DA%20Report.pdf"><h3>Fact sheet (PDF)</h3></a>
      <h3>Transcripts of witness statements:</h3>
      <a href="static/pedie-video-witnesses_files/mohamad-delik-int.pdf">Mohamad Delik (store clerk)</a><br>
      <a href="static/pedie-video-witnesses_files/pablo-rincon-int.pdf">Pablo Rincon (customer)</a><br>
      <a href="static/pedie-video-witnesses_files/steve-clark-int.pdf">Steve Clark (customer)</a><br>
      <br>
      From the Perez Family:<br>
      <img src="static/pedie-video-witnesses_files/thank-you-card-out.jpg" alt="Thank-you Card Outside">
      <img src="static/pedie-video-witnesses_files/thank-you-card-in.jpg" width="900" height="648" alt="Thank-you Card Inside">
		</div>
{% endblock %}

