div {
  width: 900px
}

.horiz-navbar {
  background-color: #0000D1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 900px;
}

.navbar-link {
    float: left;
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #0000D1;
    padding: 0 20px;
    text-decoration: none;
}

.ogc-banner {
  width: 900px;
  color: #FFFFFF;
  background-color: #0000E1;
  text-align: center;
}

.title {
  text-align: center;
  font-size: x-large;
}

.subtitle {
  text-align: center;
  font-size: large;
}

.art-table {
  width: 900px;
  border-style: none;
}

.caption {
  font-size: small;
  text-align: center;
}

.no-float {
	clear: both;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.in-memory-pic {
  margin: 10px;
  float: left;
}

.thumb-table td {
  width: 207px;
  text-align: center;
  border-spacing: 18px;
  border-collapse: separate;
}

#thumb-table td {
  border-spacing: 18px;
  border-collapse: separate;
}

#thumb-table table {
  width: 65px
}

#peoples-hearing-table {
  width: 210px;
}

#pedie-video-thumb-table {
  width: 900px;
}

#pedie-video-thumb-table table {
  vertical-align: top;
  width: 352px;
}

#pedie-video-thumb-table td {
  vertical-align: top;
}

.larger-text {
  font-size: 1.1em;
}

.centered-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.much-larger-text {
  font-size: 1.333em;
}

.smaller-text {
  font-size: .9em;
}

.much-smaller-text {
  font-size: .75em;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.article-content {
  border-top: 2px solid #999;
  max-width: 900px;
}

.article-content__title {
  font-size: 1.5em;
}

.article-content__title-prefix {
  font-weight: bold;
}

.article-content__img--left {
  display: block;
  float: left;
  margin: 1em 1em 1em 0;
}

.article-content__img--right {
  display: block;
  float: right;
  margin: 1em 0 1em 1em;
}

.article-content__info-box {
  border: 1px solid #ccc;
  padding: 0 1rem;
}

.quotation__body {
  font-style: italic;
}

.quotation__credit {
  font-size: .9em;
  text-align: right;
}
