div {
  width: 56.125rem;
  max-width: 100%;
}

iframe,
img,
table {
  max-width: 100%;
}

hr {
  border: 0 none transparent;
  border-top: 1px dotted hsl(0, 0%, 40%);
  color: transparent;
  height: 0;
  padding: 0;
}

.horiz-navbar {
  background-color: #0000D1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 56.125rem;
  max-width: 100%;
}

.navbar-link {
    float: left;
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #0000D1;
    padding: 0 20px;
    text-decoration: none;
}

.ogc-banner {
  width: 56.125rem;
  max-width: 100%;
  color: #FFFFFF;
  background-color: #0000E1;
  text-align: center;
}

.title {
  text-align: center;
  font-size: x-large;
}

.subtitle {
  text-align: center;
  font-size: large;
}

.art-table {
  width: 56.125rem;
  max-width: 100%;
  border-style: none;
}

.caption {
  font-size: small;
  text-align: center;
}

.no-float {
	clear: both;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.in-memory-pic {
  margin: 10px;
  float: left;
}

.thumb-table td {
  width: 207px;
  max-width: 100%;
  text-align: center;
  border-spacing: 18px;
  border-collapse: separate;
}

#thumb-table td {
  border-spacing: 18px;
  border-collapse: separate;
}

#thumb-table table {
  width: 65px;
  max-width: 100%;
}

#peoples-hearing-table {
  width: 210px;
  max-width: 100%;
}

#pedie-video-thumb-table {
  width: 56.125rem;
  max-width: 100%;
}

#pedie-video-thumb-table table {
  vertical-align: top;
  width: 352px;
  max-width: 100%;
}

#pedie-video-thumb-table td {
  vertical-align: top;
}

.float {
  display: block;
  margin: 0 0 1em 0;
  max-width: 40%;
  padding: 0;
}

.float--left {
  float: left;
  margin-right: 1em;
}

.float--right {
  float: right;
  margin-left: 1em;
}

.float__img {
  border: 1px solid hsl(0, 0%, 60%);
  width: 100%;
  height: auto;
}

.larger-text {
  font-size: 1.1em;
}

.centered-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.much-larger-text {
  font-size: 1.333em;
}

.smaller-text {
  font-size: .9em;
}

.much-smaller-text {
  font-size: .75em;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.important-text {
  font-weight: bold;
}

.meeting-info,
.meeting-info *,
.post,
.post *,
.footer,
.footer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.meeting-info,
.post,
.footer {
  width: 56.125rem;
  max-width: 100%;
  margin: .675rem;
  position: relative;
}

.meeting-info::after,
.post::after,
.footer__content::after {
  clear: both;
  content: "";
  display: table;
}

.meeting-info {
  font-size: 1.333em;
  text-align: center;
}

.meeting-info__note {
  color: hsl(39, 100%, 50%);
}

.post {
  /*border-radius: .25rem;*/
  /*border: 1px solid #ddd;*/
  border-top: 1px dotted hsl(0, 0%, 40%);
  margin-bottom: 1.5rem;
  padding: .675rem;
  /*box-shadow: .25rem .25rem .75rem .25rem hsla(0, 0%, 50%, 0.5);*/
}

.post__title {
  font-size: 1.5em;
}

.footer__content {
  border: 1px dotted hsl(0, 0%, 40%);
  margin: 1rem -.5rem;
  padding: .5rem;
}

.quotation__body {
  display: block;
  font-style: italic;
  font-weight: bold;
}

.quotation__credit {
  display: block;
  font-size: .9em;
  text-align: right;
}

.quotation__credit::before {
  content: '— ';
  display: inline-block;
}
